<header class="p-3 bg-dark text-white header">
  <div class="container-fluid">
    <div class="d-flex flex-wrap align-items-center justify-content-center">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <!-- <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg> -->
        <img src="./assets/PNG/netflix-logo-png-2562.png" width="120" height="40" class="appLogo" alt="">
      </a>
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <!-- <li><a href="/" class="nav-link px-2 " routerLink="home#" routerLinkActive="active">Home</a></li>
        <li><a href="/" class="nav-link px-2 " routerLink="tv-shows#" routerLinkActive="active">TV-Shows</a></li>
        <li><a href="/" class="nav-link px-2 " routerLink="movies#" routerLinkActive="active">Movie</a></li>
        <li><a href="/" class="nav-link px-2 " routerLink="new#" routerLinkActive="active">Newly Launched</a></li>
        <li><a href="/" class="nav-link px-2 " routerLink="upcoming#" routerLinkActive="active">Upcoming</a></li> -->
      </ul>
      <ul class="d-flex">
        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <i class=""></i>
          <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
        </form>

        <div class="text-end">
          <button  class="btn btn-danger" (click)="signupModal()" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Sign-up</button>
        </div>
      </ul>
    </div>
  </div>
</header>

<div class="containers">
  <img class="image" src="../../../assets/images/collage-Movies.jpg" alt="">
  <div class="centerDiv">
    <h3 class="text-light">Unlimted movies, TV </h3>
    <h3 class="text-light secContent"> shows, and more.</h3>
    <h6 class="text-light thirdContent"> Watch anywhere. Cancel anytime</h6>
    <p class="text-light fourthContent"> Ready to watch? Enter your email to create or restart your membership</p>
    <span>

      <form #emailValidate="ngForm" (ngSubmit)="emailValidate.form.valid && validateEmail(emailValidate.form.value)">
        <input type="email" email required class="search" placeholder="Enter email address"
          aria-label="Input group example" aria-describedby="btnGroupAddon" [(ngModel)]="validateEmailId"
          name="enteredEmailString">

        <button class="btn btn-danger input-group-text" id="btnGroupAddon" type="submit" style="height: 38px;">get
          started <i class="fa fa-arrow-right"></i></button>
      </form>
    </span>
  </div>
</div>
<div class="modal fade " id="exampleModal" aria-hidden="true" tabindex="-1" aria-labelledby="...">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" id="cancel" class="close float-end bg-dark text-light border-none" data-bs-dismiss="modal">&times;</button>
        <form [formGroup]="signup" class="bg-dark p-4">
            <div class="mb-3">
                <input type="email" class="form-input" id="email" formControlName="email" placeholder="Enter Username" >
            </div>
            <div class="mb-3">
              <input type="password" class="input-password form-input" formControlName="password" id="password" placeholder="Enter Password">
              <i class="fas fa-eye" id="passwordShow" (click)="passwordShow()"></i>
            </div>
            <div class="mb-3 errormSG surface-900">
              <p *ngIf="error_Msg">{{errorMsg}}</p>
            </div>
            <button type="submit" class="btn btn-danger w-100 mb-3" (click)="signupForm()">Sign In</button>
            <div class="registerData mb-5">
              <input type="checkbox" >
              <span class="text-light fs-6">Remember me <a class="needHelp fs-6 float-end">Need Help?</a></span>
            </div>
          </form>
      </div>
    </div>
  </div>
</div>

