.active
{
    color: red;
    border-bottom: 3px solid;
}
.appLogo
{
    margin: 0 17px 0 0px;
    border-radius: 5px;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;
    /* padding-right: var(--bs-gutter-x,.75rem); */
    /* padding-left: var(--bs-gutter-x,.75rem); */
    margin-right: auto;
    margin-left: 0px;
  }
  .nav-link{
    color: white;
  }
  .active{
    color: red;
    border-bottom:3px solid red ;
  }

