body{
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--surface-900);
color: var(--primary-color-text);
}
.active {
  color: red;
  border-bottom: 3px solid;
}

.appLogo {
  margin: 0 17px 0 0px;
  border-radius: 5px;
  opacity: 100%;
  // -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
}

.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  width: 100%;
  margin-right: auto;
  margin-left: 0px;
}
.containers{
  width: 100%;
  background-size: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}
.image{
  height: calc(100vh - 86px);
  width: 100%;
  opacity: 20%;
  background-repeat: no-repeat;
  background-size: cover;
}
.nav-link {
  color: white;
}
.active {
  color: red;
  border-bottom: 3px solid red;
}
.centerDiv{
  text-align: center;
  opacity: 100%;
  color: white;
  position: absolute;
}
h1{
  font-size:20px;
  color: black;
}
.fa-eye{
  position: absolute;
  left: 85%;
  top: 35%;
  color: white;
}
.fa-eye-slash{
  position: absolute;
  left: 85%;
  top: 35%;
  color: white;
}
.form-input{
  background-color: rgb(77, 77, 77);
  color: white;
  border: none;
  outline: none;
  height: 40px;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}
.form-input::placeholder{
  color: rgb(163, 162, 162);
  font-weight:200;
  font-size: 14px;
}
.form-input:focus{
  outline: none;
  border: none;
}
.needHelp{
  text-decoration: none;
  color: white;
  font-size:14px;
}
.active{
  background-color: red;
  height: 800px;
  width: 350px;
}
.errormSG{
  color: red;
}

.modal{
  background-color: black;
}
.modal-body{
  background-color: black;
}
.close{
  border: none;
  background-color: #212529 !important;
  font-weight: 800;
}
.close{
  border: none;
  background-color: #212529 !important;
  font-weight: 800;
  font-size: 18px;
}


::ng-deep .custom-style{
  background-color:brown;
  color:white;
}
