<div class="image">
    <div class="loginForm">
        <form [formGroup]="loginForm" >
            <div class="mb-3">
                <input type="email" class="input-email form-input" id="email" formControlName="email" placeholder="Enter Username" >
            </div>
            <div class="mb-3">
              <input type="password" class="input-password form-input" formControlName="password" id="password" placeholder="Enter Password">
              <!-- <i class="fas fa-eye" id="passwordShow" (click)="passwordShow()"></i> -->
            </div>
            <div class="mb-3 errormSG surface-900">
              <!-- <p *ngIf="error_Msg">{{errorMsg}}</p> -->
            </div>
            <button type="submit" class="btn btn-danger w-100 mb-3" (click)="signInForm()">Sign In</button>
            <div>
                <label class="text-light fs-6" for="remember">
                    <input type="checkbox"  name="" id="">
                    Remember me
                </label> 
                <a class="needHelp fs-6 float-end">Need Help?</a>
            </div>
          </form>
    </div>
</div>