.image{
    // background:url('../../assets/images/collage-Movies.jpg');
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    // opacity: 50%;  
}
.loginForm{
    height: 400px;
    width: 300px;
    background: rgb(219, 217, 217);
    position: absolute;
    border-radius:5px ;
    

    // opacity: 85%;
}
input[type="email"],input[type="password"]{
    width: 100%;
    height: 40px;
    background-color: rgb(90, 88, 88);
    color: white;
    outline: none;
    border: none;
}