.search{
    height: 38px;
    width: calc(100% - 30%);
    display: inline-block;
    top: 0;
    padding-left: 10px;
  
  }
  .search::placeholder{
    text-align: start;
  
  }
  .search:focus{
    background-color: rgb(191, 191, 191);
    border: none;
    outline: none;
    padding-left: 10px;
  }
  #btnGroupAddon{
    position: relative;
    z-index: 1;
    width: 30%;
    border-radius: 0;
    top: -3px;
    height: 38px;
  }